.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
.searchBox{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.searchBtn{
    margin-left: -4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


body{
    margin-top: 52px;
}