input[type=text] {
   width: 130px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-top: 8%;
    font-size: 16px;
    padding: 12px 20px;
    vertical-align: middle;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.2s ease-in-out;
}

input[type=text]:focus {
    vertical-align: middle;
    float: right;
    width: 150%;
    margin-top: 4%;
}